<%= stylesheet_link_tag "mcs.css" %>
<h1>
	<center>
		Learn Dynamic Programming
	</center>
</h1>
<table border="1" cellpadding="2" cellspacing="1">
<tr>
<td>
<ol>
	<li>
		<h2> Introduction </h2>
	</li>
	<ol>
		<li>
			<a href="http://en.wikipedia.org/wiki/ Dynamic_programming" target="_blank"> 		
				Definition:Wiki
			</a>
		</li>
		<li>
			Examples
		</li>
		<ul>
			<li>
				<a href="http://en.wikipedia.org/wiki/Knapsack_problem" target="_blank">
					0-1 Knapsack Problem
				</a>
			</li>
			<li>
				<a href="http://en.wikipedia.org/wiki/Change-making_problem" target="_blank">
					Coin Change Problem
				</a>
			</li>
		</ul>
     </ol>
	<li>
	<h2>Tutorials</h2>
	</li>
	<ol>
		<li>
			<a href="http://www.codechef.com/wiki/tutorial-dynamic-programming" target="_blank">
				Concept of Top-Down and Bottom-Up: CodeChef
			</a>
		</li>
		<li>
			<a href="http://community.topcoder.com/tc?module=Static&d1=tutorials&d2=dynProg" target="_blank">
				Concept of States: TopCoder
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/dynamic-programming-set-1/" target="_blank">
				Overlapping subproblems property
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/dynamic-programming-set-2-optimal-substructure-property/" target="_blank">
				Overlapping substructure property
			</a>
		</li>
	</ol>
	<li>
	<h2>Detailed Analysis: Geeks For Geeks</h2>
	</li>
	<ol>
		<li>
			<a href="http://www.geeksforgeeks.org/dynamic-programming-set-10-0-1-knapsack-problem/" target="_blank">
				0-1 Knapsack Problem
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/dynamic-programming-set-7-coin-change/" target="_blank">
				Coin Change Problem
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/dynamic-programming-set-14-maximum-sum-increasing-subsequence/" target="_blank">
			Maximum Sum Increasing Subsequence
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/largest-sum-contiguous-subarray/" target="_blank">
			Largest Sum Contiguous array
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/dynamic-programming-set-4-longest-common-subsequence/" target="_blank">
			Longest Common Subsequence
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/dynamic-programming-set-14-maximum-sum-increasing-subsequence/" target="_blank">
			Maximum Sum Increasing Subsequence
			</a>
		</li>
		<li>
			<a href="http://www.geeksforgeeks.org/longest-palindrome-substring-set-1/" target="_blank">
			Longest Palindromic Substring
			</a>
		</li>		
	</ol>
</ol>
</td>
<td>
	<h2><center> Video Tutorials </center></h2>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<iframe width="250" height="240" src="//www.youtube.com/embed/OQ5jsbhAv_M" frameborder="2" allowfullscreen></iframe>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<iframe width="250" height="240" src="//www.youtube.com/embed/ug7O1lSZyg0" frameborder="2" allowfullscreen></iframe>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<pre>
	Lecture by MIT      			Lecture by NPTEL
	</pre>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
</td>
<td>
	<h2><center>Playlists</center></h2>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<iframe width="250" height="240" src="//www.youtube.com/embed/GafjS0FfAC0?list=PL962BEE1A26238CA3" frameborder="0" allowfullscreen></iframe>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Playlist by SaurabhSchool
</td>
</tr>
</table>